{% extends "ZDAdminBundle::layout.html.twig" %}

{% block title %}
Jour
{% endblock %}

{% block content %}
    
 <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Titre H2</th>
                                        <th>Content</th>
                                        <th>Image</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    
                                        {% for day in listDay %}
                                        <tr>
                                            <td>{{ day.id }}</td> 
                                            <td>{{ day.titleH2 }}</td> 
                                            <td>{{ day.content }}</td>
                                            <td></td>

                                            <td><a href="{{ path('zd_admin_editDay', {'id': day.id}) }}" id="edit" class="btn btn-success">edit</a>
                                                <a href="{{ path('zd_admin_deleteDay', {'id': day.id}) }}" id="delete" class="btn btn-success">delete</a></td>

                                        </tr>
                                        {% endfor %}
                                        
                                        
                                       
                                    
                                </tbody>
                            </table>
                                    
                                    <a href="{{ path('zd_admin_addDay') }}" id="create" class="btn btn-success">Ajouter un jour</a>
                        </div>
                    </div>
     
     
     
 </div>

{% endblock %}
