{% extends "::layout.html.twig" %}

{% block h1 %}Semaine 1{% endblock %}
{% block tag %}Zoé Dujeux{% endblock %}

{% block contentPage %}
    <!-- Main left-->
		 {{ include("ZDBlogBundle:Article:leftBlock.html.twig") }}
    <!-- /Main -->
        

        
        <!-- Main right-->
		{{ include("ZDBlogBundle:Article:rightBlock.html.twig") }}
	<!-- /Main -->
        
        
        <!-- Main left-->
                {{ include("ZDBlogBundle:Article:leftBlock.html.twig") }}
         <!-- /Main -->
    
    
        <!-- Main right-->
		{{ include("ZDBlogBundle:Article:rightBlock.html.twig") }}
	<!-- /Main -->
        
        
                    <!-- Main left-->
                {{ include("ZDBlogBundle:Article:leftBlock.html.twig") }}
    <!-- /Main -->
    
    
    <!-- Main no sidbar-->
		<div id="main">
			<div id="content" class="container">
				<section>
					<header>
						<h2>Jour 6 et 7 </h2>
					</header>
                                    
                                    <h3>Repooooooos</h3>
                                    <p> Vous l'avez bien mérité !  </p>							

				</section>
			</div>
                    
                    <a href="semaine1.html"><img id="haut" src="images/ancre.png" alt="ancre" /></a>
		</div>
	<!-- /Main -->
{% endblock %}