{% extends "ZDBlogBundle::layoutIndex.html.twig" %}


{% block h1 %} 
    {% for article in articles %}
        <h1>{{ article.titleH1 }}</h1>
    {% endfor %}
{% endblock %}


{% block contentPage %}
   {% for article in articles %}
    <div id="featured">
			<div class="container">
				<header>
					
                                            <h2>{{ article.titleH2}}</h2>
                                       
				</header>
                                
                               
                                    <p>{{ article.content}}</p>
                             
				<hr />
				<div class="row">
					
                                    {#  {{ include("ZDBlogBundle:Article:blockIndex.html.twig") }} #}
					
                                     {% for articleWeek in articlesWeek %}


                                        <section class="4u">
                                                <span class="pennant"><span class="fa fa-briefcase"></span></span>
                                                <h3>{{ articleWeek.title}}</h3>
                                                <p>{{ articleWeek.preview}}</p>
                                                <a href="{{ path('zd_blog_view', {weekId: 1}) }}" class="button button-style1">Read More</a>
                                        </section>

                                            {% endfor %}
				</div>
			</div>
        </div>
    {% endfor %}
{% endblock %}
 